.home {
  background-image: url("./photos/background.jpg");
  background-repeat: no-repeat;
  /* making responsive image */
  background-size: 100% 100%;
  /* height: 45rem; */
  overflow: hidden;
  justify-content: center;
  font-family: Lobster;
}
#header {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  font-weight: bold;
  font-family: Operator Mono;
  font-size: 30px;
  justify-content: center;
  color: aliceblue;
}

.searchdiv {
  justify-content: center;
  text-align: center;
}
.searchInput {
  text-align: center;
  background-color: #051937;
  color: aliceblue;
  width: 20%;
  height: 30px;
  border-radius: 15px;
  border: none;
  outline: none;
}
.searchInput:focus {
  width: 50%;
  transition: 2s;
}
